<mat-accordion>
  <mat-expansion-panel hideToggle>

    <mat-expansion-panel-header>

      <mat-panel-title>{{ product.brand + product.model}}</mat-panel-title>

      <mat-panel-description>

        <button mat-stroked-button color="primary">
          <mat-icon>remove</mat-icon>
        </button>

        <button mat-stroked-button color="primary">
          Toevoegen
        </button>

        <button mat-stroked-button color="primary">
          <mat-icon>add</mat-icon>
        </button>

      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="properties">

      <div class="prop">
        <span><strong>Artikelnummer</strong></span>
        <span>{{ product.articleNumber }}</span>
      </div>

      <div class="prop">
        <span><strong>Inkoopprijs</strong></span>
        <span>{{ product.purchasePrice | currency:'EUR' }}</span>
      </div>

      <div class="prop">
        <span><strong>Verkoopprijs</strong></span>
        <span>{{ product.sellingPrice | currency:'EUR' }}</span>
      </div>

      <div class="prop">
        <span><strong>Leverancier</strong></span>
        <span>{{ product.supplier }}</span>
      </div>

      <div class="prop">
        <span><strong>Eigenschappen</strong></span>
        <span>
          <mat-chip-list>
            <mat-chip *ngFor="let prop of product.properties">{{ prop }}</mat-chip>
          </mat-chip-list>
        </span>
      </div>

    </div>

  </mat-expansion-panel>
</mat-accordion>
