mat-card-content {
  display: flex;
  flex-direction: column;
}

form > * {
  width: 100%;
}

mat-card {
  margin-bottom: 24px;

  // Hack because mat-card in a form sucks
  @media (min-width: 768px) {
    width: 96.6% !important;
  }
  @media (max-width: 767px) {
    width: 90% !important;
  }
}
