<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">

    <mat-toolbar color="primary">Menu</mat-toolbar>

    <mat-nav-list>

      <mat-list-item class="title">
        <span>Offertes</span>
      </mat-list-item>

      <mat-list-item>
        <a href="offer">Opstellen</a>
      </mat-list-item>

      <mat-list-item>
        <a href="manage-offers">Beheren</a>
      </mat-list-item>

      <mat-list-item class="title">
        <a href="#">Gegevens</a>
      </mat-list-item>

      <mat-list-item>
        <a href="manage-categories">Categorieën beheren</a>
      </mat-list-item>

      <mat-list-item>
        <a href="manage-groups">ProductGroepen beheren</a>
      </mat-list-item>

      <mat-list-item>
        <a href="manage-products">Producten beheren</a>
      </mat-list-item>

    </mat-nav-list>


  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>Application Title</span>

    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
